@implements IDisposable
@inject PartnerAuthService Session
@inject NavigationManager Navigation

<Router AppAssembly="typeof(DSCITYPartner.Client._Imports).Assembly">
    <Found Context="routeData">
        @if (ShouldBlock(routeData.PageType))
        {
        }
        else
        {
            <RouteView RouteData="routeData" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p role="alert">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        Session.OnChange += HandleSessionChanged;
    }

    private bool ShouldBlock(Type pageType)
    {
        var isLoginPage = pageType == typeof(Pages.Login);

        if (!Session.IsAuthenticated && !isLoginPage)
        {
            Navigation.NavigateTo("/login", replace: true);
            return true;
        }

        if (Session.IsAuthenticated && isLoginPage)
        {
            Navigation.NavigateTo("/", replace: true);
            return true;
        }

        return false;
    }

    private void HandleSessionChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        Session.OnChange -= HandleSessionChanged;
    }
}
